body
{
  /* background-image: url('./assests/coverPage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */
  /* background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%); */
  /* background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%); */
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  /* background-image: linear-gradient(to right, #2c3e50, #4ca1af); */
  /* background-image: linear-gradient(to right, #141e30, #243b55); */
}